* {
  margin: 0;
  padding: 0;
}
.card { 
  width: 200px;
  border: solid grey 1px;
  margin-left: 30px;
  margin-top: 50px;
}

.btn {
  background-color: blue;
  margin-bottom: 20px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
}

.card-body {
  margin-left: 5px;
  margin-top: 5px;
}

.card-img-top {
  width: 200px;
}

.card-text {
  margin-top: 5px;
}

.card-title {
  font-size: 16px;
}